<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Covid-19 info</title>
    <meta name="description" content="Covid-19 info">
    <meta name="author" content="Amirali Mirian">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>confirmed</th>
                <th>deaths</th>
                <th>recovered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%= latest.confirmed %></th>
                <th><%= latest.deaths %></th>
                <th><%= latest.recovered %></th>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Population</th>
                <th scope="col">Province</th>
                <th scope="col">Confirmed</th>
                <th scope="col">deaths</th>
                <th scope="col">recovered</th>
            </tr>
        </thead>
        <tbody>
            <% locations.forEach(function(loc) { %>
                <tr>
                    <th scope="row"><%= loc.id + 1%></th>
                    <th scope="row"><%= loc.country%></th>
                    <th scope="row"><%= loc.country_population%></th>
                    <th scope="row"><%= loc.province || "-"%></th>
                    <th scope="row"><%= loc.latest.confirmed%></th>
                    <th scope="row"><%= loc.latest.deaths%></th>
                    <th scope="row"><%= loc.latest.recovered%></th>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>